{% extends "layout.html" %}

{% block content %}

  <div class="container-fluid">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Annual Income</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <th scope="row">001</th>
              <td>Pritam</td>
              <td>System Analyst</td>
              <td>$60000</td>
          </tr>
          <tr>
              <th scope="row">002</th>
              <td>Aneri</td>
              <td>Security Manager</td>
              <td>$65000</td>
          </tr>
          <tr>
              <th scope="row">003</th>
              <td>Charmi</td>
              <td>Web Developer</td>
              <td>$70000</td>
          </tr>
          <tr>
              <th scope="row">004</th>
              <td>Akshitha</td>
              <td>Architect</td>
              <td>$55000</td>
          </tr>
          <tr>
              <th scope="row">005</th>
              <td>Rashmi</td>
              <td>Structural Designer</td>
              <td>$75000</td>
          </tr>
          </tbody>
      </table>
  </div>
{% endblock %}
