{% extends "layout.html" %}

{% block content %}

<div class="header">
    <h1 align="center"; style="color:seagreen">Employee Databse System</h1>
</div>
<font color="#8b0000">
<style>
        body {background-color: powderblue;}
</style>

    <p>Given below represents the Employee's details such as Employee ID, Name, Designation and Annual Income of a particular Organization. These records are used by Human Resource Management System to keep the track of various employees.HR  departments generate and receive a significant volume of records, and it is important for HR professionals to make a strong business case for implementing a comprehensive records management program. </p>
    <p>t’s tough to keep accurate data when information is scattered across spreadsheets and paper files. Anytime you need to make an update, you find yourself chasing down several other files you need to change as well.</p>
    <p>Secure databases are the best option because that way staff only have access to the data that is applicable for their job role. Data security refers to the process of protecting data from unauthorized access and data corruption throughout its lifecycle.</p>

  <div class="container-fluid">
      <table class="table"; border="1"; rules="all">

          <thead>
          <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Annual Income</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <th scope="row">001</th>
              <td>Pritam</td>
              <td>System Analyst</td>
              <td>$60000</td>
          </tr>
          <tr>
              <th scope="row">002</th>
              <td>Aneri</td>
              <td>Security Manager</td>
              <td>$65000</td>
          </tr>
          <tr>
              <th scope="row">003</th>
              <td>Charmi</td>
              <td>Web Developer</td>
              <td>$70000</td>
          </tr>
          <tr>
              <th scope="row">004</th>
              <td>Akshitha</td>
              <td>Architect</td>
              <td>$55000</td>
          </tr>
          <tr>
              <th scope="row">005</th>
              <td>Rashmi</td>
              <td>Structural Designer</td>
              <td>$75000</td>
          </tr>
          </tbody>
      </table>
  </div>
{% endblock %}
